    <div class="container my-5 py-2">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-start align-items-center">
                            <a href="{{ url_for('main.user_profile', username=post.author.username) }}">
                                <img class="rounded-circle shadow-1-strong me-3"
                                    src="../static/images/Default_pfp.svg.png" alt="avatar" width="60"
                                    height="60" /></a>
                            <div>
                                {% set user_link %}
                                <a class="user_popup"
                                    href="{{ url_for('main.user_profile', username=post.author.username) }}">
                                    <h6 class="fw-bold text-primary mb-1">{{ post.author.username }}</h6>
                                </a>
                                {% endset %}
                                <!-- <a href="#"><h6 class="fw-bold text-primary mb-1">Lilly Colson</h6></a> -->
                                <p class="text-muted small mb-0">
                                    {{ _( '%(username)s shared publicly %(when)s',
                                    username=user_link, when=moment(post.timestamp).fromNow() )}}
                                </p>
                            </div>
                        </div>

                        <p class="mt-3 mb-4 pb-2">
                            <span id="post{{post.id}}">{{ post.body }}

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip consequat.
                            </span>
                        </p>
                        {% if post.author == current_user %}
                        <div class="small d-flex justify-content-start">
                            <a href="{{url_for('main.edit_post', id=post.id)}}" class="d-flex align-items-center me-3">
                                <i class="fas fa-edit me-2"></i>
                                <p class="mb-0">Edit</p>
                            </a>
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="fas fa-trash me-2"></i>
                                <p class="mb-0">Delete</p>
                            </a>
                            <!-- for translation -->
                            {% if post.language and post.language !=g.locale %}
                            <span id="translation{{post.id}}">
                                <a href="javascript:translate(
                                    'post{{post.id}}',
                                    'translation{{post.id}}',
                                    '{{post.language}}',
                                    '{{g.locale}}')" 
                                    class="d-flex align-items-center me-3"><i class="fas fa-trash me-2"></i>
                                    {{_('Translate')}}
                                    
                                    <p class="mb-0"></p>
                                </a></span>
                            {% endif %}
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
