<div class="d-flex flex-start mt-3" id="comment-component-{{comment.id}}">
    <img class="rounded-circle shadow-1-strong me-3"
        src="{%if comment.author.profile_pic =='default_prof_pic.png'%}
        https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg
        {%else%}
        {{url_for('static', filename='profile_pictures/'+comment.author.profile_pic)}} {%endif%}" alt="avatar" width="30"
        height="30" />
        
    <div class="col">
        <div class="d-flex align-items-center">
            <a class="" href="{{ url_for('main.user_profile', username=comment.author.username) }}">
                <h6 class="fw-bold text-primary mb-1 mr-2">{{ comment.author.username }}</h6>
            </a>
            <p class="mb-0 ms-1" style="font-size: 80%;">
                {{ moment(comment.timestamp).fromNow().format('LLL') }}
            </p>
        </div>
        <p class="mb-2" id="comment-body-{{comment.id}}">
            {{comment.body}}
        </p>

        <form id="edit-comment-form-{{comment.id}}" class="d-none" action="#"
            onsubmit="submitEditComment(event, {{comment.id}})">
            {{ comment_form.hidden_tag() }}
            {{ comment_form.body(class='form-control col') }}
            <div class="d-flex justify-content-end mb-2">
                <button type="submit" class="btn btn-primary btn-sm mt-2">Save</button>
                <button type="button" data-comment_id="{{comment.id}}" class="btn btn-secondary btn-sm mt-2"
                    onclick="toggleEditForm(event, {{comment.id}})">Cancel</button>
            </div>
        </form>

        <div class="d-flex align-items-center mb-3">
            <a href="#" id="toggleCommentLike-{{comment.id}}" onclick="toggleLike(event, {{comment.id}}, 'comment')"
                class="link-muted me-2">
                {% set liked_user_ids = comment.likes | map(attribute='user_id') | list %}
                            <i class="{% if current_user.id in liked_user_ids %} fa-solid 
                            {%else%} fa-regular {%endif%} fa-heart" id="comment-like-icon-{{comment.id}}"></i>
                            </a>                
                {%set like_count = comment.likes.count() %}
                <a href="#" data-mdb-ripple-init data-mdb-modal-init
                            data-mdb-target="#user_list_modal{{comment.id}}">
                <span id="comment_like_count-{{comment.id}}" style="visibility: {% if like_count %}visible
                    {%else%}hidden {%endif%};" class="">
                    {% if like_count %}
                    {{like_count}} like{{ like_count != 1 and 's' or '' }}</span>
                {%endif%}
            </a>
            {%if comment.author == current_user %}
            {% set body = comment.body %}
            <a href="#" id="toggleComment-{{comment.id}}" data-comment_body="{{comment.body}}" class="link-muted"
                onclick="toggleEditForm(event, {{comment.id}}, this.dataset.comment_body )">
                <i class="fas fa-pencil-alt ms-2"></i></a>
            <a data-mdb-modal-init data-mdb-target="#exampleModal{{comment.id}}" 
            href="#" class="link-muted"><i
                    class="fas fa-trash ms-2"></i></a>
            {%elif post.author == current_user %}
            <a data-mdb-modal-init data-mdb-target="#exampleModal{{comment.id}}"
            href="#" class="link-muted"><i
                    class="fas fa-trash ms-2"></i></a>
            {%endif%}
        </div>
    </div>
</div>
<hr class="my-0" style="height: 1px;" />
<!-- delete comment modal -->
<div class="modal fade" id="exampleModal{{comment.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{comment.id}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel{{comment.id}}">Delete Comment!!</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure?!!!</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-ripple-init
                    data-mdb-dismiss="modal">Close</button>
                <a onclick="deleteComment(event, {{comment.id}}); event.preventDefault();" href="{{url_for('main.delete_comment', id=comment.id)}}"
                    class="btn btn-primary" data-mdb-ripple-init data-mdb-dismiss="modal">Confirm</a>
            </div>
        </div>
    </div>
</div>

<!-- likes display modal -->
<div class="modal fade" id="user_list_modal{{comment.id}}" tabindex="-1" aria-labelledby="user_list_modalLabel{{comment.id}}"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="user_list_modalLabel{{comment.id}}">Liked Users</h5>
            <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% for like in comment.likes%}   
            <a href="{{url_for('main.user_profile', username=like.author.username)}}">
                <img class="rounded-circle shadow-1-strong me-3"
                    src="{%if like.author.profile_pic =='default_prof_pic.png'%}
                    https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg
                    {%else%}
                    {{url_for('static', filename='profile_pictures/'+like.author.profile_pic)}} {%endif%}" alt="avatar" width="25"
                height="25" />
            {{like.author.username}}<br>
            </a>
            {%endfor%}
        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-mdb-ripple-init
                data-mdb-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>