{% extends "base.html"%}

{% block content %}


<section style="background-color:whitesmoke ">
    <div class="container my-5 py-2">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <!-- <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                        <a class="nav-link" href="{{url_for('main.messages')}}">
                            <h4 class="mb-3 text-primary">Your inbox</h4></a>
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                        <a class="nav-link" href="{{url_for('main.messages', sent=True)}}">
                            <h5 class="mb-3 text-primary">Sent items</h5></a>
                    </div>
                </div> -->
                <!-- Tabs navs -->
<ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        
        class="nav-link active"
        href="{{url_for('main.messages')}}"
        role="tab"
        aria-controls="ex3-tabs-1"
        aria-selected="true"
        > <h5 class="mb-3 text-primary">Your inbox</h5></a>
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        href="{{url_for('main.messages', sent=True)}}"
        role="tab"
        aria-controls="ex3-tabs-2"
        aria-selected="false"
        ><h5 class="mb-3 text-primary">Sent items</h5></a
      >
    </li>
  </ul>
  <!-- Tabs navs -->
  
  <!-- Tabs content -->
  <!-- <div class="tab-content" id="ex2-content">
    <div
      class="tab-pane fade show active"
      id="ex3-tabs-1"
      role="tabpanel"
      aria-labelledby="ex3-tab-1"
    >
      Tab 1 content
    </div>
    <div
      class="tab-pane fade"
      id="ex3-tabs-2"
      role="tabpanel"
      aria-labelledby="ex3-tab-2"
    >
      Tab 2 content
    </div>
    <div
      class="tab-pane fade"
      id="ex3-tabs-3"
      role="tabpanel"
      aria-labelledby="ex3-tab-3"
    >
      Tab 3 content
    </div>
  </div> -->

                <hr class="hr">

                {% for post in messages %}
                {% include '_post1.html' %} <br>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% include "pagination.html" %}

{% endblock %}