{% extends 'base.html' %}
{% block content %}

<section style="background-color:whitesmoke ">
    <div class="container my-5 py-2">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <h4 class="mb-3">Search Results</h4>

                {% for post in posts %}
                {% include '_post1.html' %} <br>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- 

<h1>{{_('Search results')}}</h1>
{% for post in posts %}
    {% include '_post1.html'%}
{% endfor %}     -->

<nav aria-label="Post navigation">
    <ul class="pagination">
        <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url }}">
                <span aria-hidden="true">&larr;</span> Previous Results
            </a>
        </li>
        <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url }}">
                Next Results <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>

{% endblock %}
