{% extends 'base.html' %}
{% block content %}

<section style="background-color:whitesmoke ">
    <div class="container my-5 py-2">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <h4 class="mb-3">Search Results</h4>
                {% for post in posts %}
                {% include '_post1.html' %} <br>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% include "pagination.html" %}

{% endblock %}
